*{ margin: 0; padding: 0;}
ul,ol{ list-style: none;}
.window{
    width: 1226px;
    height: 460px;
    overflow: hidden;
    position: relative;
}
.container{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}
.buttons{
    width: 72px;
    position: absolute;
    bottom: 26px;
    right: 36px;
}
.buttons ul{
    display: flex;
    justify-content: space-between;
}

.buttons ul > li{
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    background: rgba(0, 0, 0, .4);
}
.buttons ul > li.active{
    border-color:  rgba(0, 0, 0, .4);
    background: rgba(255, 255, 255, .3);
}